 <!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I have been working as an instructional designer and a faculty member in higher education for ten years. After pursuing my second master's degree in Instructional Systems Technology at Indiana University Bloomington, I am now an instructional designer at the University of Akron. </p>
                <p>As a QM reviewer, I have been reviewed many excellent online courses and I enjoy utilizing instructional Design, adult learning, and cutting-edge learning technologies improving the quality of online courses.</p>
            </div>
            <div class="col-lg-4">
                <p></p>
         </div>
        </div>
    </div>
</section>
