 <!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I worked as an instructional designer and a faculty in higher education for the past ten years. After pursuing my seconde Master's degree in Instructional Systems Technology at Indiana University Bloomington, I will set sail again in the higher education ocean. I am also a mom of two wonderful daughters, and a woman who loves the world and the life. Please feel free to contact me if you have any questions about my portfolio.</p>
            </div>
            <div class="col-lg-4">
                <p></p>
         </div>
        </div>
    </div>
</section>
