<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div id="banner">
                <img class="img-responsive img-banner" src="img/{{ site.header.image }}" alt="Ling Qian Banner Image">
                <div class="quote">
                    <h1>My Vision</h1>
                    <p>As an Instructional Designer, I focus on the design and development of online/hybrid courses and assisting instructors in improving their teaching skills and experiences.</p>                  

                </div>
            </div>
            <div class="intro-text">
                <span class="name">Ling Qian</span>
                <hr class="star-light">
                <span class="skills">{{ site.skills }}</span>
            </div>
        </div>
    </div>
</header>
