<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="banner">
                    <img class="img-responsive img-banner" src="img/{{ site.header.image }}" alt="Ling Qian Banner Image">
                    <div class="quote">
                        <h1>Opening Car Doors is Very Difficult</h1>
                        <p>My goal is to become an Instructional Designer in higher education, designing and developing online/hybrid courses and helping instructors reach their potential in teaching and fulfill their missions in education.</p>                  
                        <p>I have extensive knowledge and eight years of experience in Instructional Design, adult learning, and cutting-edge learning technologies. I would like to use my professional knowledge to help faculty improve their teaching through technology.</p>
                        
                    </div>
                </div>
                <div class="intro-text">
                    <span class="name">Ling Qian</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.skills }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
