<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="banner">
                    <img class="img-responsive img-banner" src="img/{{ site.header.image }}" alt="Ling Qian Banner Image">
                    <div class="quote">
                        <h1>My Vision</h1>
                        <p>My goal is to become an Instructional Designer in higher education.  I would like to focus on designing and developing online/hybrid courses to help instructors reach their potential in teaching and fulfill their missions in education.</p>                  
                                             
                    </div>
                </div>
                <div class="intro-text">
                    <span class="name">Ling Qian</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.skills }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
