<div>
</div>

{% assign themes = "Instructional Website,Evaluation Projects,Instructional Design,Graphic Design,Research Projects" | split: "," %}

{% for theme in themes %}    
    <section class='projects'>
        <div class="container">
            <div class="row">
                <h2 class='text-center'>{{ theme }}</h2>
                {% for post in site.posts %}
                    <p>{{ post.type }}</p>
                    <p>{{ theme | downcase }}</p>
                    {% if post.type == theme | downcase %}
                        <div class="row">
                            {% if post.video %}
                                <div class='col-md-6'>
                                    <iframe class="img-responsive" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% else %}
                                <div class='col-md-6'>
                                    <a href="/documents/{{ post.pdf }}" class="portfolio-link" target="_blank">
                                        <img src="/img/projects/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-md-6 project-caption">
                                <h3>{{ post.name }}</h3>
                                <p>Date: {{ post.date | date: "%b %Y" }}</p>
                                <p>Tools: {{ post.tools }} </p>
                                <p>Client: {{ post.client }}</p>
                                <p>{{ post.content }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
