
    <!-- Portfolio Grid Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            {% for post in site.posts %}
                {% assign mod = forloop.index | modulo:3 %}
                {% if mod == 1 %}
                    <div class="row is-table">
                {% endif %}
                
                <div class="col-md-4 portfolio-item nopadding">
                    <a href="/documents/{{ post.pdf }}" class="portfolio-link" target="_blank">
                        <img src="/img/projects/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                    <div class="project-caption">
                        <p>Name: {{ post.name }}</p>
                        <p>Date: {{ post.date | date: "%b %Y" }}</p>
                        <p>Tools: {{ post.tools }} </p>
                        <p>Client: {{ post.client }}</p>
                        <!--<p>{{ post.content | remove: '<p>' | remove: '</p>' }}</p>-->
                    </div>
                </div>
                {% if mod == 0 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
